*.js
*.config
*.dll
*.XML
*.nupkg
*.exe
*.ps1
*.xdt
*.transform
*.targets
*.cache
*.rtf
*.map
*.psd1
*.woff
*.svg
*.pdb
*.asax
*.ttf
*.user
*.csproj
*.ico
*.sln
*.ldf
Greer_P1/packages/*
Greer_P1/Greer_P1/Properties/*
Greer_P1/Greer_P1/Startup.cs
Greer_P1/Greer_P1/obj/*
Greer_P1/Greer_P1/Global.asax.cs
Greer_P1/Greer_P1/fonts/glyphicons-halflings-regular.eot
Greer_P1/.vs/*
Greer_P1/Greer_P1/App_Start/*
Greer_P1/Greer_P1/Images/*
