@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Greer Project 1</h1>
    <p class="lead">This is a MVC class project for CIS 465 </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products in Category</h2>
        <p>
            View products by category.
        </p>
        <p><a class="btn btn-default" href="~/ProductsInCategory/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Single Product</h2>
        <p>View a list of all products.</p>
        <p><a class="btn btn-default" href="~/SingleProduct/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers by State</h2>
        <p>View customers by state.</p>
        <p><a class="btn btn-default" href="~/CustomersByState/Index">Learn more &raquo;</a></p>
    </div>
</div>