
@{
    ViewBag.Title = "Index";
}

<h2>Admin Home</h2>

@Html.ActionLink("Browse our products by category", "Index", "ProductsInCategory")<br />

@Html.ActionLink("View our customers by state", "Index", "CustomersByState")<br />

@Html.ActionLink("View Product Details", "Index", "SingleProduct")

